<body>
  <header>
    <button class="close-button">X</button>
  </header>

  <main>
    <div class="side-section">
      <div class="greetings">
        <img src="../../assets/icons/user-10-svgrepo-com.svg" alt="" />
        <p>Welcome, Unit A!</p>
      </div>
      <div class="menu">
        <div class="controll-mode">
          <img src="../../assets/icons/map-svgrepo-com.svg" alt="" />
          <p>Control Mode</p>
        </div>
        <div class="mapping">
          <img src="../../assets/icons/map-svgrepo-com.svg" alt="" />
          <p>Mapping</p>
        </div>
        <div class="database">
          <img src="../../assets/icons/map-svgrepo-com.svg" alt="" />
          <p>Database</p>
        </div>
      </div>
    </div>
    <div class="map-section"></div>
  </main>

  <footer>
    <div class="copyright">
      <p><span>&#169;</span> 2023ITBdeLabo</p>
    </div>
  </footer>
</body>
