<p>Enter robot ip address</p>
<input [(ngModel)]="rosServ.ip">
<button (click)="startRos()">ENTER</button>
<div class="control">
  <button (click)="sendCommand()">START</button>
  <button (click)="zoomIn()">Zoom In</button>
  <button (click)="zoomOut()">Zoom Out</button>
  <button (click)="Fwd()">Forward</button>
  <button (click)="Bwd()">Backward</button>
  <button (click)="Stop()">STOP</button>
  <button (click)="RotR()">RotateCCW</button>
  <button (click)="RotL()">RotateCW</button>
</div>

<div class="saveload-map">
  <button (click)="saveMap()">Save Map</button>
  <button (click)="loadMap()">Load Map</button>
</div>

<!-- <p>Start coordinate</p>
<p>{{startcoor[0]}}</p>
<p>{{startcoor[1]}}</p>
<p>{{movecoor[0]}}</p>
<p>{{movecoor[1]}}</p> -->
<!-- <app-joystick></app-joystick> -->
<div class="mapcontainer">
  <div id="slam" (mousedown)="onMouseDown($event)" (mousemove)="onMouseMove($event)" (mouseup)="onMouseUp($event)" class="map"></div>
</div>

