<head>
<!-- <script type="text/javascript" src="http://static.robotwebtools.org/EaselJS/current/easeljs.min.js"></script>
<script type="text/javascript" src="http://static.robotwebtools.org/EventEmitter2/current/eventemitter2.min.js"></script>
<script type="text/javascript" src="http://static.robotwebtools.org/roslibjs/current/roslib.min.js"></script>
<script type="text/javascript" src="http://static.robotwebtools.org/ros2djs/current/ros2d.min.js"></script> -->

</head>


<p>navigation works!</p>
<button (click)="fwd()">FORWARD</button>
<button (click)="stop()">STOP</button>

<div id="nav" class="map"></div>
