/* styles.css */
footer {
  display: flex;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100vw;
  padding-left: 1%;
  padding-right: 1%;
  padding-bottom: 1%;
}

.handling-instructions,
.safety-precautions {
  height: 10vh;
  width: 6%;
  background-color: #0C98B4;
  border: 2px solid #60E3D5;
  border-radius: 10px;
  margin-right: 10px;
  margin-left: 2%;

  font-family: Inter;
  font-size: 0.8em;
  font-weight: 500;
  text-align: center;
  color: #FFFFFF;
}

.handling-instructions:hover,
.safety-precautions:hover {
  cursor: pointer;
  box-shadow: -4px 4px 4px 0px #00000040;
  transition: 1s;

}

.handling-instructions p,
.safety-precautions p {
  margin-top: -2%;
}

.handling-instructions img,
.safety-precautions img {
  width: 50%;
  height: 50%;
}

/* Add this CSS for the copyright section */
.copyright {
  margin-left: auto;
  margin-top: auto;
  /* Pushes the copyright text to the bottom */
  color: #D0E1E7;
  background-color: #4E6CB1;
  border: 2px solid #60E3D5;
  border-radius: 10px;
  font-size: 0.8em;
  padding-left: 1%;
  padding-right: 1%;
}
