body {
  background-image: url('../../assets/images/Walpaper.png');
  /* Replace with the path to your image */
  background-size: cover;
  /* This property ensures the image covers the entire background */
  background-repeat: no-repeat;
  /* Prevent the image from repeating */
  background-attachment: fixed;
  /* Keeps the background fixed when scrolling */
  min-height: 100vh;
  /* Set a minimum height of the viewport height (100vh) */
}

body::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  /* Your desired color */
  opacity: 0.2;
  /* Adjust the opacity to control the color intensity */
  z-index: 1;
  /* Place it in front of other content */
}

.center-div {
  font-family: Inter;
  font-size: 1em;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
  padding: 10px;
  width: 17%;
  gap: 10px;
  display: flex;
  justify-content: center;
  /* Horizontally center content */
  align-items: center;
  /* Vertically center content */
  background-color: #0567A6;
  border: 2px solid #60E3D5;
  z-index: 2;
  position: fixed;
  /* Position fixed to center it on the page */
  top: 50%;
  /* Center vertically */
  left: 50%;
  /* Center horizontally */
  transform: translate(-50%, -50%);

  border-radius: 3px;
  /* Center relative to its own size */
}

