
<!-- <nav>
  <ul>
    <li></li>
    <li><h1>GPS Dashboard</h1></li>
    <li style="float: right;margin-top: 22px;"></li>
    <li style="float: right;margin-top: 22px;"></li>
  </ul>

</nav> -->
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>

</style>
</head>
<body>

<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
  <a href="#">Control Mode</a>
  <a href="#">Mapping</a>
  <a href="#">Database</a>
</div>

<div id="main">
  <h2>Operation</h2>
  <span style="font-size:30px;cursor:pointer" (click)="openNav()">&#9776; open</span>
</div>

<script>

</script>

</body>
</html>
