
<div class="map-container">
  <div class="map-header">
    <div class="title"><h3>Map Collection</h3></div>
    <div class="search-bar"><input placeholder="Search..."></div>
  </div>
  <div class="device-list">
    <table>
      <tr>
        <th><p>No.</p></th>
        <th><p>Map Name</p></th>
        <th><p>Date Modified</p></th>
        <th><p>File Type</p></th>
        <th><p>Size</p></th>
        <th><p>Selected Map to Load</p></th>
        <th><p>Delete</p></th>
      </tr>

      <tr>
        <td><p>1.</p></td>
        <td><p>12092023_Room_A</p></td>
        <td><p>2023/09/12 11:20 PM</p></td>
        <td><p>PGM</p></td>
        <td><p>30 MB</p></td>
        <td><p></p></td>
        <td><p></p></td>
      </tr>

    </table>
  </div>


</div>
