footer {
  display: flex;
  position: fixed;
  bottom: 0;
  right: 10px;
  width: 100vw;
  padding-left: 1%;
  /* padding-right: 1%; */
  padding-bottom: 1%;
  z-index: 50;


  font-family: Inter;
  font-size: 1em;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: center;

}

/* Add this CSS for the copyright section */
.copyright {
  margin-left: auto;
  margin-top: auto;
  /* Pushes the copyright text to the bottom */
  color: #D0E1E7;
  background-color: #4E6CB1;
  border: 2px solid #60E3D5;
  border-radius: 10px;
  font-size: 0.8em;
  padding-left: 1%;
  padding-right: 1%;
}
