/* styles.css */
main {
  display: flex;
  justify-content: space-between;
}


body {
  background-image: url('../../assets/images/Walpaper.png');
  /* Replace with the path to your image */
  background-size: cover;
  /* This property ensures the image covers the entire background */
  background-repeat: no-repeat;
  /* Prevent the image from repeating */
  background-attachment: fixed;
  /* Keeps the background fixed when scrolling */
  min-height: 100vh;
  /* Set a minimum height of the viewport height (100vh) */
  position: relative;

  /* Add this to make ::before positioning relative to body */
}

/* Add a color overlay */
body::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #4E6CB1;
  /* Your desired color */
  opacity: 0.5;
  /* Adjust the opacity to control the color intensity */
  z-index: 1;
  /* Place it in front of other content */
}


/* CSS for the close button */
.close-button {
  position: absolute;
  top: 10px;
  /* Adjust the top position as needed */
  right: 10px;
  /* Adjust the right position as needed */
  background-color: #0C98B4;
  border: 2px solid #60E3D5;
  /* Red background color, you can change this */
  color: #FFFFFF;
  /* White text color */
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-family: Inter;
  font-size: 1em;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  z-index: 1;
  /* Ensure it's on top of other content */
}

.close-button:hover {
  box-shadow: 0px 4px 4px 0px #0567A680;
  transition: 0.5s;
  /* Change color on hover */
}


/* MENU */

main {
  display: flex;
  justify-content: space-between;
}


/* ------------------------------ */


/* MAP SECTION */

.map-section {
  width: 80vw;
  height: 75vh;
  background-color: #D0E1E7;
  border: 2px solid #0C98B4;
  border-radius: 20px;

  /* Horizontally center the content */

  margin-top: 10vh;

  box-shadow: -10px 10px 4px 0px #00000040;
  position: absolute;
  top: 10px;
  right: 10px;

  z-index: 2;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* --------------------------------------------- */

.center-div {

  font-family: Inter;
  font-size: 26px;
  font-weight: 500;
  line-height: 31px;
  letter-spacing: 0em;
  text-align: left;
  color: #0C98B4;
  text-align: center;

}

.center-div .location {
  width: 30%;
  height: 30%;
}

.information-section {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  /* Membuatnya menjadi flex container */
  align-items: center;
  /* Mengatur konten secara vertikal di tengah */
  justify-content: center;
  /* Mengatur konten secara horizontal di tengah */
  background-color: #F6F0F0;
  width: 100%;
  border: 5px solid #60E3D5;
  border-radius: 10px;
  padding: 10px;
  /* Menambahkan padding agar lebih baik tampilannya */
}

.center-div .information-section img {
  width: 30px;
  /* Sesuaikan ukuran gambar sesuai kebutuhan */
  height: 30px;
  /* Sesuaikan ukuran gambar sesuai kebutuhan */
  margin-right: 10px;
  /* Menambahkan jarak antara gambar dan teks */
}

.information-section p {
  align-self: center; /* Vertically center the <p> element within its container */
  margin: 0; /* Remove default margin for <p> element */
  font-family: Inter;
  font-size: 1em;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 0em;
  color: #0C98B4;
  text-align: center; /* Horizontally center the text */
}

.bolder {
  font-weight: 700;
}

app-control-navbar {
  z-index: 3;
}
