<body>
  <div class="centered-content">
    <button class="close-button">X</button>
    <div class="greetings">
      <p>Hello Username, welcome to the MSD700 application!</p>
    </div>

    <div class="data-section">
      <div>
        <div class="label-section">
          <p>
            <span
              ><img
                class="icon_information"
                src="../../assets/icons/information-circle-svgrepo-com.svg"
                alt="" /></span
            >Please input your MSD700 unit data.
          </p>
        </div>
        <div class="input-section">
          <form action="#" method="post">
            <label for="unitID">Unit ID:</label>
            <input type="text" id="unitID" name="unitID" required />

            <label for="ipAddress">IP Address:</label>
            <input type="text" id="ipAddress" name="ipAddress" required />

            <input type="submit" value="Proceed" />
          </form>
        </div>
      </div>

      <div class="util_section">
        <img src="../../assets/images/MSD700.png" alt="" />

        <div class="data_util">
          <form action="#" method="post">
            <label for="battery">Battery:</label>
            <input type="text" id="battery" name="battery" />

            <label for="uptime">Uptime:</label>
            <input type="text" id="uptime" name="uptime" />
          </form>
        </div>
        <button class="submit_button">
          <p>Login</p>
          <img
            src="../../assets/icons/arrow-right-3-svgrepo-com (1).svg"
            alt=""
          />
        </button>
      </div>
    </div>
  </div>

  <footer>
    <div class="handling-instructions">
      <img src="../../assets/icons/book-svgrepo-com.svg" alt="" />
      <p>Handling<br />Instructions</p>
    </div>
    <div class="safety-precautions">
      <img src="../../assets/icons/shield-alt-svgrepo-com (2).svg" alt="" />
      <p>Safety <br />Precaution</p>
    </div>
    <div class="copyright">
      <p><span>&#169;</span> 2023ITBdeLabo</p>
    </div>
  </footer>
</body>
